.circulo{
    width: 80px;
    height: 80px;
    background-color: blueviolet;
    border-radius: 50%;
    transition-property: background, width ;
    transition-duration: 2s;
    transition-delay: 1s, os;
    transition-timing-function: ease;
}
.circulo:hover{
    background-color: green;
    box-shadow: 14px 8px 12px 6px black;
    cursor: pointer;
    width: 240px;
}
.animacion{
    position: fixed;
    background-color: brown;
    left: -100px;
    top: -100px;
    animation-name: ejemplo;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-fill-mode: backwards;
}

@keyframes ejemplo{
    /*
    from{
        left: 0px;
        top: 0px;
    }
    to{
        left: calc(100vh);
        top: 100vh;
    }
        */
    0%{
        left: 0px;
        top: 0px;  
    }
    25%{
        background-color: bisque;
    }
    50%{
        border-radius: 0px;
    }
    75%{
        background-color: aquamarine;
    }
    100%{
        left: calc(100vw - 80px);
        top: calc(100vh - 80px);
    }
}