*{ /*para todas las etiquetas html */
    margin: 10px;
    padding: 8px;
}
.titulo{/* margin y padding son concordantes con todas las etiquetas*/
    
    margin: 12px;
    margin-left: 12px;
    margin-top: 12px;  
    margin-right: 12px;
    margin-bottom: 12px;
    margin: 12px 6px;
    margin: 2px 4px 8px 16px;
    margin-block: 15px;
    margin-inline: 20px;
    margin-block-start:16px ;
    margin-block-end: 18px;
    margin-inline-start: 10px;
    margin-inline-end: 12px;

    border: 1px solid #000000;
    border-top: 5px solid rgba(24, 89, 90, 1);
    border-radius: 9%;
    border-radius: 29px;
}



/*
.titulo{
    background-color: #7fffd4;
}
#tituloPrincipal{
    font-style: italic;
}
    */
    .bg{
        width: 50vw;
        height: 50vh;
        background-color: tomato;
        background-image: url('../imagenes_y_fondos/fondos/fondo_1.webp'),
        url('../imagenes_y_fondos/fondos/Esqueleto.jpg');
        background-repeat: no-repeat,no-repeat;
        /*background-size: 100vw;*/
        background-size: 120px, cover;
        background-position: 60px 120px, 0px;
        background-position-y: 20px,9px;
        background-position-x: 120px, 9px;
    }
    h3{
        width: 100vw;
        color: rgb(155, 127, 255);
        text-align: center;
        text-decoration:underline ;
        text-decoration-color: purple ;
        text-decoration-style: double;
        text-decoration-thickness: o,1px ;
        text-transform: lowercase;
        text-transform: capitalize;
        text-indent: 20PX;
        letter-spacing: 6PX;
        line-height: 30PX;
        word-spacing: 10px;
        white-space: nowrap;
        text-shadow: 0px 1px 10px yellow, 4px 1px red;
    }